@font-face {
  font-family: 'Regular';
  src: url('./assets/f26faddb-86cc-4477-a253-1e1287684336-AVENIR NEXT MEDIUM.woff') format('opentype');
  font-weight: 500;
}

body {

  width: 100%;
  overflow: hidden;
  font-family: 'Regular';
  font-size: 100px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F0F0F0;

  *:focus {

    -webkit-tap-highlight-color: transparent;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;

  }

  * {

    user-select: none;

  }
}